[submodule "Middlewares/Third_Party/lvgl"]
	path = Middlewares/Third_Party/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "Middlewares/GUI"]
	path = Middlewares/GUI
	url = git@github.com:Oyami-Srk/SelfServiceCarWashing-GUI
[submodule "Middlewares/Third_Party/CmBacktrace"]
	path = Middlewares/Third_Party/CmBacktrace
	url = https://github.com/armink/CmBacktrace
